@font-face{
  font-family: admin;
  src:url("../fonts/admin.ttf")
}
@font-face{
  font-family: Berton-Voyage;
  src:url("../fonts/Berton-Voyage.ttf")
}
@font-face{
  font-family: colab;
  src:url("../fonts/colab.otf")
}
@font-face{
  font-family: Prager-Headlines;
  src:url("../fonts/Prager-Headlines.otf")
}
*{
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-family: admin;
}
body{
  margin: 0;
  padding: 0 100px;
  background-color:#f90;
}
.principale_div{
  width: 100%;
  padding: 0px;
  border:solid 2px #888;
  background-color: white;
}
/*header**************************************************************************/
header{
   margin:0;
   padding: 0;
   height: 127px;
   background-color: #1298CE;
   color: #000;
}
.head_div{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}
.logo img{
height: 70px;
width:100px;
border-radius: 10px;
margin-top: 10px;
margin-left: 150px;
}
#horaire{
  width:40%;
  height:50px;
  margin-left: 300px;
  padding-top:30px;
}
#hr{
  margin-top: 5px;
  border: none;
  color:#fff;
  background-color: #1298CE;
  line-height: 30px;
  height: 30px;
  width: 200px;
  display: inline-block;
  font-size: 24px;
}
#dt{
  border: none;
  color:#fff;
  background-color: #1298CE;
  line-height: 30px;
  height: 30px;
  width: 200px;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 5px;
}
#list_head{
height: 30px;
background-color: #0ff;
}
#list_head>li{
  list-style-type: none;
  line-height: 30px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}
#hd_li a{
  padding: 0 20px;
  color:white;
  text-decoration:none;
  transition:0.1s ease all;
}
#hd_li a:hover{
  background-color:white ;
  color:#548 ;
}
.container{
  background-color: white;
}
.subcontainer{
margin: 0;
}
.subcontainer h1{
  margin: 0;
  color: #eee;
  background-color:#777;
  font-family:monospace;
  height: 50px;
  line-height: 50px;
}
#event_title{
  color: #0f0;
  font-family: colab;
}
.left:nth-child(0){
  margin-top:0;
}
/*principe_info********************************************************************/
.principe_info{
    width: 100%;
}
.event{
  border-top:1px solid #888;
  height: 170px;
 width:100%;
 text-align:left;
}
.event p{
  font-family: Prager-Headlines;
  line-height: 20px;
}
#im_p{
  margin-left: 20px;
  width :150px;
  height: 150px;
  float: left;
  margin-top: 10px;
}
#ev_desc{
  width: 80%;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}
.subcontainer>h3{
  margin-top: 0;
  margin-bottom: 0;
  height: 50px;
  line-height: 50px;
}
.arch{
  width: 80%;
  margin: 10px 10%;
  background-color: white;
  color:#444;
}
/*footer***************************************************************************/
footer{
  height: 100px;
  width:100%;
  margin: 20px 0 0 0;
  background-color: #aaa;
  color: #111;
  padding: 10px auto;
}
#list_footer{
margin-left:10px;
margin-bottom: 5px;
text-align: left;
}
#list_footer>li{
  margin: 10px;
  list-style-type: none;
  display: inline-block;
}
.rev{
  text-align: right;
  margin-bottom: 10px;
  margin-right: 20px;
  line-height: 20px;
  font-family: monospace;
  font-weight: bold;
}
