@font-face{
  font-family: admin;
  src:url("../fonts/admin.ttf")
}
@font-face{
  font-family: Berton-Voyage;
  src:url("../fonts/Berton-Voyage.ttf")
}
@font-face{
  font-family: colab;
  src:url("../fonts/colab.otf")
}
@font-face{
  font-family: Prager-Headlines;
  src:url("../fonts/Prager-Headlines.otf")
}
*{
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-family: admin;
}
body{
  margin: 0;
  padding: 0 100px;
  background-color:#ff0;
}
.principale_div{
  width: 100%;
  padding: 0px;
  border:solid 2px #888;
}
/*header**************************************************************************/
header{
   margin:0;
   padding: 0;
   height: 127px;
   background-color: #1298CE;
   color: #000;
}
.head_div{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}
.logo img{
height: 70px;
width:100px;
border-radius: 10px;
margin-top: 10px;
margin-left: 150px;
}
#horaire{
  width:40%;
  height:50px;
  margin-left: 300px;
  padding-top:30px;
}
#hr{
  margin-top: 5px;
  border: none;
  color:#fff;
  background-color: #1298CE;
  line-height: 30px;
  height: 30px;
  width: 200px;
  display: inline-block;
  font-size: 24px;
}
#dt{
  border: none;
  color:#fff;
  background-color: #1298CE;
  line-height: 30px;
  height: 30px;
  width: 200px;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 5px;
}
#list_head{
height: 30px;
background-color: #0ff;
}
#list_head>li{
  list-style-type: none;
  line-height: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
}
#hd_li a{
  padding: 0 20px;
  color:white;
  text-decoration:none;
  transition:0.1s ease all;
}
#hd_li a:hover{
  background-color:orange;
  color:white ;
}
/****body de la page*************************************************************/
.container{
background-color: white;
  display: flex;
  flex-direction: row;
}
/*left*****************************************************************************/
.left{
   width: 25%;
    border:solid 2px #888;
}
.poste{
  max-height: 400px;
  width:100%;
  background-color: white;
}
#rec_im{
  width: 50px;
  height: 50px;
  float: left;
}
#p_title{
  background-color: #0c0;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: admin;
  font-size: 20px;
}
#event_title{
  color: #333;
  cursor: pointer;
}
.left:nth-child(0){
  margin-top:0;
}
/*
/*principe_info********************************************************************/
.principe_info{
    width: 55%;
    border:solid 2px #888;
}
#im_pr{
  width: 90%;
}
#ev_desc{
  width: 90%;
  display: inline-block;
  font-family: Prager-Headlines;
  margin-bottom: 20px;
}
#div_comment{
  background-color: #789;
  color: #000;
  margin:20px;
  text-align: left;
}
#comment{
  background-color: #880;
  color: white;
}
#p_form{
  display: inline-block;
  width: 100px;
}
textarea{
  width: 60%;
  height: 300px;
}
#nb_caract{
  border:none;
  display: inline-block;
  width: 50px;
}
/*video_photo**********************************************************************/
.video_photo{
  width: 20%;
  border:solid 2px #888;
  padding-top: 10px;
}
#vid_ph{
  width: 95%;
  height: 150px;
}
#vid_ph img,#vid_ph video{
  width: 95%;
  height: 150px;
}
.info_vid{
  color:red;
  text-decoration: none;
}
/*footer***************************************************************************/
footer{
  height: 100px;
  width:100%;
  margin: 0;
  border:solid 2px #888;
  background-color: #aaa;
  color: #111;
  padding: 10px auto;
  text-align: center;
  cursor:cell;
}
#list_footer{
padding-left:10px;
margin-bottom: 5px;
text-align: left;
}
#list_footer>li{
  padding: 10px;
  list-style-type: none;
  display: inline-block;
}
#list_footer>li:hover{
  color: #fff;
  background-color: #000;
}
.rev{
  text-align: right;
  margin-bottom: 10px;
  margin-right: 20px;
  line-height: 20px;
  font-family: monospace;
  font-weight: bold;
}
